<!doctype html>
<html>
  <!--
    <style>
      table, th, td {
      border:1px solid black;
      }
      body {
        background-color: rgba(24, 157, 183, 0.371);
      }
      
      h1 {
        color: maroon;
        margin-left: 40px;
      }
      </style>
  -->
    <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styling.css') }}" />
      {% if title %}
      <title>{{ title }} - PyService</title>
      {% else %}
      <title>Welcome to PyService</title>
      {% endif %}
    </head>
    <body>
        <a style="font-size: 32px;" href="/PyService/v1/index">DODAJ WPIS</a>
        <!--<div>View: <a href="/PyService/v1/view">View</a></div>-->
        <a style="font-size: 32px;" href="/PyService/v1/stats">WYSZUKAJ</a>
        <hr>
        {% block index %}{% endblock %}
        {% block dbTables %}{% endblock %}
        {% block anyBlock %}{% endblock %}
        {% block stats %}{% endblock %}
        {% block test %}{% endblock %}
    </body>
</html>