<!doctype html>
<html>
    <style>
      table, th, td {
      border:1px solid black;
      }
      body {
        background-color: rgba(24, 157, 183, 0.371);
      }
      
      h1 {
        color: maroon;
        margin-left: 40px;
      }
      </style>
    <head>
      {% if title %}
      <title>{{ title }} - PyService</title>
      {% else %}
      <title>Welcome to PyService</title>
      {% endif %}
    </head>
    <body>
        <div>PyService: <a href="/PyService/v1/index">Home</a></div>
        <div>View: <a href="/PyService/v1/view">View</a></div>
        <div>Stats: <a href="/PyService/v1/stats">Stats</a></div>
        <hr>
        {% block index %}{% endblock %}
        {% block dbTables %}{% endblock %}
        {% block anyBlock %}{% endblock %}
        {% block stats %}{% endblock %}
    </body>
</html>