{% extends "base.html" %}



{% block dbTables %}
<h1>Lista wpisów</h1>

<table>
    <tr>
        <td><b>ID</b></td>
        <td><b>DATE</b></td>
        <td><b>AUTHOR</b></td>
        <td><b>VALUE</b></td>
        <td><b>COMMENT</b></td>
        <td><b>TAGS</b></td>
    </tr>
    {% for entry in entriesTable %}
    <tr>
        <td>{{ entry["id"] }}</a></td>
        <td>{{ entry["date"] }}</td>
        <td>{{ entry["author"] }}</td>
        <td>{{ entry["value"] }} zł</td>
        <td>{{ entry["comment"] }}</td>
        <td>
        {% for tag in entry["tags"] %}
            {{ tag }} <br>
        {% endfor  %}
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><b style="font-size: 24px;">{{ summary }} zł</b></td>
        <td></td>
        <td></td>
    </tr>
</table>







{% endblock %}