{% extends "base.html" %}



{% block anyBlock %}
<h1>Wpis</h1>

<table>
    <tr>
        <td><b>ID</b></td>
        <td><b>DATE</b></td>
        <td><b>AUTHOR</b></td>
        <td><b>VALUE</b></td>
        <td><b>COMMENT</b></td>
        {% for tag in entry["tags"] %}
            <td><b>TAG_NAME</b></td>
        {% endfor %}
    </tr>

    <tr>
        <td>{{ entry["id"] }}</td>
        <td>{{ entry["date"] }}</td>
        <td>{{ entry["author"] }}</td>
        <td>{{ entry["value"] }}</td>
        <td>{{ entry["comment"] }}</td>
        {% for tag in entry["tags"] %}
            <td>{{ tag }}</td>
        {% endfor %}
    </tr>

</table>



{% endblock %}