{% extends "base.html" %}



{% block index %}

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <div class="ramka">
        
            <div class="indexKwota">
                <b style="font-size: 72px;">KWOTA</b><br>
                {{ form.value(size=32) }}
            </div>

            <div class="indexTagi">
                <!--<b style="font-size: 36px;">Tagi dla wpisu</b><br>-->

                {% for subfield in form.tags %}
                <tr>
                    <input type="checkbox" class="tagCheckbox" id="tag" name="{{ subfield.id }}" value="{{ subfield.data }}"><a style="font-size: 32px;">{{ subfield.label }}</a></input>
                </tr>
                {% endfor %}
            </div>

            <div class="indexTagiKoment">
                <b style="font-size: 36px;">DODAJ TAG</b>
                {{ form.newTag }}
                <br><br><br>
                <b style="font-size: 36px;">KOMENTARZ</b>
                {{ form.comment }}
            </div>
        
            <div class="indexSubmit">
                <button>Zapisz</button>
            </div>

    </div>


    </form>
{% endblock %}