{% extends "base.html" %}



{% block index %}
    <h1>Dodaj nowy wpis</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            <h2>Ile kasiory?</h2>
            {{ form.value(size=32) }}
        </p>
        <p>
            
        </p>
<!--
        <p>
            <input type="radio" id="Maciek" name="author" value="Maciek" checked>{{ form.author(size=32) }}</input>
            <label for="Maciek">Maciek</label><br>
            <input type="radio" id="Monika" name="author" value="Monika">{{ form.author(size=32) }}</input>
            <label for="Monika">Monika</label><br>
        </p>
-->
        <p>
            {% for author in form.author %}
            <tr>
                <input type="radio" id="author" name="author" value="{{ author.data }}">{{ author.label }}</input><br>
            </tr>
            {% endfor %}
        </p>

        <div>
            <h2>Tagi dla wpisu</h2>

            {% for subfield in form.tags %}
            <tr>
                <input type="checkbox" id="tag" name="{{ subfield.id }}" value="{{ subfield.data }}">{{ subfield.label }}</input><br>
            </tr>
            {% endfor %}
            

        </div>


        <p>
            <h3>Dodaj nowy tag</h3>
            {{ form.newTag(size=32) }}
        </p>


        <p>
            <h2>Komentarz</h2>
            {{ form.comment }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}