{% extends "base.html" %}



{% block index %}

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <div class="ramka">
        
            <div class="indexKwota">
                <a>Kwota</a><br>
                {{ form.value(size=32) }}
            </div>

<!--
        <p>
            <h2>Autor</h2>
            {% for author in form.author %}
            <tr>
                <input type="radio" id="author" name="author" value="{{ author.data }}" checked>{{ author.label }}</input>
            </tr>
            {% endfor %}
        </p>
-->
        <div class="indexTagi">
            <a>Tagi dla wpisu</a><br>

            {% for subfield in form.tags %}
            <tr>
                <input type="checkbox" id="tag" name="{{ subfield.id }}" value="{{ subfield.data }}">{{ subfield.label }}</input>
            </tr>
            {% endfor %}
              


        </div>

        <div class="indexTagiKoment">
            <a>Dodaj nowy tag</a>
            {{ form.newTag(size=32) }}
            <br>
            <a>Komentarz</a>
            {{ form.comment }}
        </div>
        
        <div class="indexSubmit">
            <button>Zapisz</button>
        </div>
    </div>
    </form>
{% endblock %}