{% extends "base.html" %}



{% block stats %}

<form action="" method="post" novalidate>
    {{ params.hidden_tag() }}

    <div class="ramka">
    
        <div class="szukaj">
            <div class="szukajOpis">
                <b style="font-size: 32px;">FILTRUJ PO AUTORACH</b>
            </div>    

            <div class="szukajDane">
                    {% for author in params.authors %}
                    <tr>
                        <input type="checkbox" class="tagCheckbox" id="author" name="{{ author.id }}" value="{{ author.data }}"><a style="font-size: 32px;">{{ author.label }}</a></input>
                    </tr>
                    {% endfor %}
            </div>
        </div>
    
        <div class="szukaj">
            <div class="szukajOpis">
                <b style="font-size: 32px;">FILTRUJ PO TAGACH</b>
            </div>

            <div class="szukajDane">
                {% for tag in params.tags %}
                <tr>
                    <input type="checkbox" class="tagCheckbox" id="tag" name="{{ tag.id }}" value="{{ tag.data }}"><a style="font-size: 32px;">{{ tag.label }}</a></input>
                </tr>
                {% endfor %}
            </div>
        </div>

        <div class="szukaj">
            <div class="szukajOpis">
                <b style="font-size: 32px;">FILTRUJ PO KWOCIE</b>
            </div>

            <div class="szukajDane">
                <a>{{ params.valueMin }}</a>

                <a>{{ params.valueMax }}</a>

            </div>
        </div>

        <div class="szukaj">
            <div class="szukajOpis">
                <b style="font-size: 32px;">FILTRUJ PO DACIE</b>
            </div>

            <div class="szukajDane">
                <a>{{ params.dateStart }}</a>

                <a>{{ params.dateEnd }}</a>
            </div>
        </div>
    
        <div class="indexSubmit">
            <button>Szukaj</button>
        </div>

    </div>




</form>
{% endblock %}