{% extends "base.html" %}



{% block stats %}
<h1>Statystyki</h1>
<form action="" method="post" novalidate>
    {{ params.hidden_tag() }}

    <h2>Autorzy wpisu</h2>

    {% for author in params.authors %}
    <tr>
        <input type="checkbox" id="author" name="{{ author.id }}" value="{{ author.data }}">{{ author.label }}</input>
    </tr>
    {% endfor %}

    <h2>Tagi</h2>
    {% for tag in params.tags %}
    <tr>
        <input type="checkbox" id="tag" name="{{ tag.id }}" value="{{ tag.data }}">{{ tag.label }}</input>
    </tr>
    {% endfor %}


    <h2>Filtruj po kwocie</h2>

    <a>{{ params.valueMin }}</a>

    <a>{{ params.valueMax }}</a>



    <h2>Filtruj po dacie</h2>
    <a>{{ params.dateStart }}</a>

    <a>{{ params.dateEnd }}</a>

    <p>
        <button>Szukaj</button>
    </p>




</form>
{% endblock %}